.advantage_section {
  background: var(--dark-purple, #1e1823);
  padding: 50px 0;
  margin-bottom: 100px;
}

.advantages_container {
  display: flex;
  gap: 88px;
  display: flex;
  width: 375px;
  height: 758px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages_item {
  width: calc((100% - 88px * 2) / 3);
  width: 308px;
}
/*h3*/
.advantages_title {
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 18px;
  margin-top: 22px;
  font-family: Montserrat;
  line-height: normal;
}
.advantages_text {
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: -0.02em;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  width: 308px;
}

/* --------- MEDIA TABLET------------*/

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages_section {
    padding-top: 50px;
    padding-bottom: 85px;
    display: flex;
    width: 768px;
    height: 620px;
    padding: 50px 32px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
  }

  .advantages_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 32px;
  }
  .advantages_item {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% - 32px) / 2);
    width: 308px;
    height: 243px;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
    flex-shrink: 0;
  }
  .advantages_container {
    gap: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
/*----------------MEDIA DESKTOP-------------*/

@media screen and (min-width: 1200px) {
  .advantages_section {
    display: flex;
    width: 1200px;
    height: 344px;
    padding: 50px;
    justify-content: center;
    align-items: center;
  }
  .advantages_list {
    height: 244px;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .advantages_item {
    flex-basis: calc((100% - 70px) / 3);
    justify-content: center;
    align-items: flex-start;
  }
  .advantages_icons {
    margin: 15px;
  }
}
/*--------END MEDIA------------*/

.advantages_icons {
  border-radius: 365px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  width: 62px;
  height: 62px;
  margin: 0 0 20px;
  justify-content: center;
  align-items: center;
  gap: 7.303px;
}
.advantages_section {
  background: #1e1823;
}
