/*----------GLOBAL----------*/

.footer {
    background-color: var(--dark-purple);
    color: var(--white);
}

.footer-icon {
    stroke: var(--white);
    fill: transparent;
}

.footer-content,
.footer-menu {
    padding: 32px 20px;
}

.footer-main_text--chocolate {
    color: var(--orange);
}

.footer-main_text {
    color: var(--white);
}

a {
    text-decoration: none;
    color: var(--white);
}

.footer-icon:hover,
.footer-icon:focus {
    stroke: var(--orange);
}

.footer-menu-link:hover,
.footer-menu-link:focus {
    color: var(--orange);
}

/*----------Mobile----------*/

@media screen and (min-width: 375px) and (max-width: 767px) {

    .footer {
        width: 375px;
    }

    .footer-content {
        padding-bottom: 0;
    }

    .footer-main_text {
        font-family: 'Montserrat';
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: -0.48px;

        width: 300px;
        height: 56px;
    }
    
    .footer-contact_us {
        color: var(--white);
        text-align: center;
        font-family: 'Montserrat';
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
    }

    .footer-nav {
        display: flex;
        align-items: flex-start;
        padding-bottom: 32px;

        border-bottom: 1px solid;
        border-color: rgba(255, 255, 255, 0.10);
    }

    .footer-socials-block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .footer-icons {
        display: flex;
        gap: 14px;
        margin-left: 200px;
    }

    .footer-icon {
        width: 22px;
        height: 22px;
    }

    .footer-phone,
    .footer-mail {
        color: var(--white);
        text-align: center;
        font-family: 'Montserrat';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.28px;
    }

    .footer-menu {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .footer-menu-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.28px;
    }

}

/*----------Tablet----------*/

@media screen and (min-width: 768px) and (max-width: 1199px) {

    .footer {
        width: 768px;
    }
    
    .footer-content {
        display: flex;
        align-items: center;
        padding: 50px 32px 54px;
    }

    .footer-main_text {
        font-family: 'Montserrat';
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: -0.56px;

        width: 300px;
        height: 56px;
        margin-right: 124px;
    }
    
    .footer-contact_us {
        color: var(--white);
        text-align: center;
        font-family: 'Montserrat';
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;

        margin-right: 137px;
    }

    .footer-nav {
        display: flex;
        align-items: flex-start;
    }

    .footer-socials-block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .footer-icons {
        display: flex;
        gap: 14px;
    }

    .footer-icon {
        width: 24px;
        height: 24px;
    }

    .footer-phone,
    .footer-mail {
        color: var(--white);
        text-align: center;
        font-family: 'Montserrat';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.28px;
    }

    .footer-menu {
        padding-top: 0px;
        padding-bottom: 16px;
    }

    .footer-menu-links {
        display: flex;
        flex-direction: row;
        gap: 24px;
        align-items: flex-start;

        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.28px;

        padding-top: 16px;
        padding-bottom: 18px;

        border-top: 1px solid;
        border-color: rgba(255, 255, 255, 0.10);
    }

}

/*----------Desktop----------*/

@media screen and (min-width: 1200px) {
    
    .footer {
        width: 1200px;
    }
    
    .footer-content {
        display: flex;
        align-items: center;
        padding: 50px 32px 54px;
    }

    .footer-main_text {
        font-family: 'Montserrat';
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: -0.56px;

        width: 300px;
        height: 56px;
        margin-right: 543px;
    }
    
    .footer-contact_us {
        color: var(--white);
        text-align: center;
        font-family: 'Montserrat';
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;

        margin-right: 137px;
    }

    .footer-nav {
        display: flex;
        align-items: flex-start;
    }

    .footer-socials-block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .footer-icons {
        display: flex;
        gap: 14px;
    }

    .footer-icon {
        width: 24px;
        height: 24px;
    }

    .footer-phone,
    .footer-mail {
        color: var(--white);
        text-align: center;
        font-family: 'Montserrat';
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.28px;
    }

    .footer-menu {
        padding-top: 0px;
        padding-bottom: 16px;
    }

    .footer-menu-links {
        display: flex;
        flex-direction: row;
        gap: 24px;
        align-items: flex-start;

        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: -0.28px;

        padding-top: 16px;
        padding-bottom: 18px;

        border-top: 1px solid;
        border-color: rgba(255, 255, 255, 0.10);
    }

}