/*----------GLOBAL----------*/

.footer {
    background-color: var(--dark-purple);
}

.footer-content,
.footer-menu {
    display: flex;
}

.footer-main_text--chocolate {
    color: var(--orange);
}

.footer-main_text {
    color: var(--white);
}

/*----------Mobile----------*/

@media screen and (min-width: 375px) and (max-width: 767px) {

    .footer-main_text {
        font-family: 'Montserrat';
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: -0.56px;
    }
    
    .footer-contact_us {
        color: var(--white);
        text-align: center;
        font-family: 'Montserrat';
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
    }

}