
body{
    font-family: Montserrat, sans-serif;
    color: #111;
    background-color: #fafafa;
}

* {
    box-sizing: border-box;
    max-width: 100%;
    height: auto;
}

.main {
    display: flex;
    justify-items: center;
}

.container {
width: 1136px;
height: 600px;
padding: 0 32px;
}

.section {
    max-width: 1200px;
    padding-bottom: 128px;
}

img {
    display: block;
    max-width: 100%; 
    height: auto;
 }
 
 ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
 }
 

:root {
    --orange:  #FD9222;
    --black: #111;
    --dark-purple: #1E1823;
    --white-gray: #fafafa;
    --white: #ffffff;
}