.section-products {
  width: 375px;
  height: 453px;
  padding: 32px 0;
  margin: auto;
}
.section-products .conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
  flex-shrink: 0;
  padding: 0 20px;
}
.section-products h2 {
  color: #fd9222;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  letter-spacing: -0.6px;
  text-transform: uppercase;
  margin: 0;
}
.section-products h2 span {
  color: #111;
}
.section-products ul {
  display: flex;
  gap: 24px;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.section-products ul::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
.section-products li {
  width: 335px;
  flex-shrink: 0;
  text-align: center;
}
.section-products img {
  padding: 32px 0 8px;
}
.section-products li div {
  width: 335px;
  height: 364px;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  box-shadow: 0px 9.04932px 26.57166px 0px rgba(215, 228, 249, 0.25);
}
.section-products li h3 {
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.36px;
  text-transform: uppercase;
  margin: 0;
}
.section-products li p {
  color: rgba(17, 17, 17, 0.7);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: -0.24px;
  margin: 0;
}
.product-buy {
  margin-top: 26px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
}
.product-buy span {
  padding: 8px 20px;
  display: block;
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.products-buttons {
  margin-top: -20px;
}
.products-buttons button {
  width: 13px;
  height: 13px;
  margin: 0 13px;
  border-radius: 6px;
  border: none;
  transition-duration: 400ms;
}
.products-buttons button:hover,
.products-buttons button:focus,
.products-buttons button:active {
  width: 23px;
  background-color: #fd9222;
}
.button-tablet {
  display: none;
}
.button-desktop {
  display: none;
}

@media (min-width: 768px) {
  .section-products {
    width: 768px;
    padding: 50px 0;
    margin: auto;
  }
  .section-products .conteiner {
    width: 768px;
    height: 487px;
    padding: 0 32px;
  }
  .section-products h2 {
    font-size: 24px;
  }
  .section-products ul {
    min-width: 768px;
    gap: 18px;
    padding: 0 33px;
  }
  .section-products li {
    width: 270px;
  }
  .section-products li div {
    width: 270px;
  }
  .products-buttons {
    margin-top: -10px;
  }
  .button-mobile {
    display: none;
  }
  .button-tablet {
    display: inline-flex;
  }
}
@media (min-width: 1200px) {
  .section-products {
    width: 1200px;
    padding: 64px 0;
    margin: auto;
  }
  .section-products .conteiner {
    width: 1200px;
    padding: 0 32px;
  }
  .section-products ul {
    width: 1200px;
  }
  .section-products .conteiner {
    padding: 0;
  }
  .section-products ul {
    gap: 24px;
    padding: 0 24px;
  }
  .button-tablet {
    display: none;
  }
  .button-desktop {
    display: inline-flex;
  }
}
