
.section-reviews {
  width: 375px;
  height: 404px;
  margin: 32px 0;

}
.section-reviews .conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 32px;
  flex-shrink: 0;
  padding: 0 20px;
}
.section-reviews h2 {
  color: #fd9222;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  letter-spacing: -0.6px;
  text-transform: uppercase;

  margin: 0;
}
.section-reviews h2 span {
  color: #111;
}
.section-reviews ul {
  display: flex;
  gap: 24px;
  overflow: auto;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.section-reviews ul.example::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */

}
.section-reviews li {
  width: 335px;
  flex-shrink: 0;
  text-align: center;
}
.section-reviews img {
  margin: 0 auto -40px auto;
  border-radius: 80px;
}
.section-reviews li div {
  width: 335px;
  height: 200px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;
  box-shadow: 0px 9.04932px 26.57166px 0px rgba(215, 228, 249, 0.25);
}
.section-reviews li h3 {
  margin-top: 58px;
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}
.section-reviews li p {
  color: rgba(17, 17, 17, 0.7);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  padding: 0 18px 18px;
}
.reviews-buttons {
  margin-top: -20px;
}
.reviews-buttons button {
  width: 13px;
  height: 13px;
  margin: 0 13px;
  border-radius: 6px;
  border: none;

  transition-duration: 400ms;
}
.reviews-buttons button:hover,
.reviews-buttons button:focus,
.reviews-buttons button:active {
  width: 23px;
  background-color: #fd9222;

}
.review-button-open {
  display: block;
  width: 165px;
  border-radius: 100px;
  border: 1px solid #fd9222;
}
.review-button-open {
  color: #111;
  background-color: #fafafa;
  padding: 12px 28px;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.button-tablet {
  display: none;
}

@media (min-width: 768px) {
  .section-reviews {
    width: 768px;

    margin: 50px 0;


  }
  .section-reviews .conteiner {
    width: 768px;
    height: 463px;
    padding: 0 32px;
  }
  .section-reviews h2 {
    font-size: 24px;
  }
  .section-reviews ul {
    width: 768px;
  }
  .section-reviews li {
    width: 344px;
  }
  .reviews-buttons {
    margin-top: -10px;
  }
  .review-button-open {
    width: 222px;
    height: 50px;
    font-size: 18px;
    margin-top: 30px;
  }
  .button-mobile {
    display: none;
  }
  .button-tablet {
    display: inline;
  }
}

@media (min-width: 1200px) {
  .section-reviews {
    width: 1200px;

    margin: 64px 0;


  }
  .section-reviews .conteiner {
    width: 1200px;
    height: 463px;
    padding: 0 32px;
  }
  .section-reviews ul {
    width: 1200px;
    gap: 28px;
  }
  .section-reviews li {
    width: 360px;
  }
  .section-reviews li div {
    width: 360px;
    height: 200px;
  }
  .button-tablet {
    display: none;
  }
}
