<footer class="footer">
    <div class="footer-content">
        <p class="footer-main_text">
            <span class="footer-main_text--chocolate">Chocolate</span> a delicious cure for a bad day
        </p>
        <nav class="footer-nav">
        <ul class="footer-socials">
            <li class="footer-socials-block">
                <p class="footer-contact_us">Contact us</p>
                <ul class="footer-icons">
                    <li>
                        <a class="footer-icon--instagram" href="https://www.instagram.com/goitpolska/" target="_blank" rel="noopener nofollow">
                            <svg class="footer-icon">
                                <use href="./images/icons.svg#icon-instagram_mobile"></use>
                            </svg>
                        </a> 
                    </li>
                    <li>
                        <a class="footer-icon--twitter" href="https://www.linkedin.com/company/goit-polska/" target="_blank" rel="noopener nofollow">
                            <svg class="footer-icon">
                                <use href="./images/icons.svg#icon-twitter_mobile"></use>
                            </svg>
                       </a> 
                    </li>
                </ul>
            </li>
            <li>
                <a class="footer-phone" href="tel:380(68)4439426">+380 (68) 443-94-26</a>
            </li>
            <li>
                <a class="footer-mail" href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
            </li>
        </ul>
        </nav>
    </div>
    <div class="footer-menu">
        <ul class="footer-menu-links">
            <li class="footer-menu-home">
                <p class="footer-menu-link"><a href="index.html">Home</a></p>
            </li>
            <li class="footer-menu-how_its_made">
                <p class="footer-menu-link"><a href="index.html">How it's made?</a></p>
            </li>
            <li class="footer-menu-our_products">
                <p class="footer-menu-link"><a href="index.html">Our products</a></p>
            </li>
            <li class="footer-menu-top_sellers">
                <p class="footer-menu-link"><a href="index.html">Top sellers</a></p>
            </li>
            <li class="footer-menu-chocolate_is_loved">
                <p class="footer-menu-link"><a href="index.html">Chocolate is loved</a></p>
            </li>
        </ul>
    </div>
</footer>