<header class="header">
    <div class="header-content container">
        <a class="header-logo" href="index.html">SIMPLY CHOCOLATE
            <svg class="header-icon logo-icon">
                <use href="./images/icons.svg#icon-chocolate"></use>
            </svg>
        </a>
        <nav class="header-nav">
            <ul class="header-nav-links">
                <li class="header-nav-home">
                    <p class="header-nav-link"><a href="index.html">Home</p></a>
                </li>
                <li class="header-nav-how_its_made">
                    <p class="header-nav-link"><a href="index.html">How it's made?</p></a>
                </li>
                <li class="header-nav-our_products">
                    <p class="header-nav-link"><a href="index.html">Our products</p></a>
                </li>
                <li class="header-nav-top_sellers">
                    <p class="header-nav-link"><a href="index.html">Top sellers</p></a>
                </li>
                <li class="header-nav-chocolate_is_loved">
                    <p class="header-nav-link"><a href="index.html">Chocolate is loved</p></a>
                </li>
            </ul>
            <ul class="header-nav-icons">
                <li>
                    <a class="header-nav-icon--instagram">
                        <svg class="header-icon">
                            <use href="./images/icons.svg#icon-instagram_mobile"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a class="header-icon--twitter">
                        <svg class="header-icon">
                            <use href="./images/icons.svg#icon-twitter_mobile"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
        <button
          class="header-menu menu-toggle js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu">

          <svg class="header-menu-button">
            <use href="./images/icons.svg#icon-hamburger"></use>
          </svg>
        </button>
    </div>
</header> 