<!-- Adam Żyła -->

<section class="section-hero">

    <div class="container">
        <h1 class="visually-hidden">WeLoveChocolate</h1>
        <!-- ukryty ma być -->

        <div class="container-hero-one">
            <h2 class="hero_text">Treat yourself or a loved one to
                our finest ingredients for a moment
                of pure delight!</h2>


            <div class="container-hero-two">
                <div class="button-div-bye-now"><button class="buy-now">Buy now</button>



                    <button class="how-its-made">How it’s made</button>
                </div>

                <a href="#footer">
                    <div class="container-hero-three">

                        <p class="scroll-down-text">scroll down</p>
                        <div class="scroll-down">

                            <svg class="hero-scroll-icon" width="38" height="38">
                                <use href="/src/images/icons.svg#icon-angle_small">
                                </use>
                            </svg>


                            </button>

                        </div>
                </a>
            </div>
        </div>

    </div>






</section>