<div class="modal_explore_our_new is-hidden" data-modal>
    <div class="modal_window_explore_our_new">
        <button type="button" class="modal_close_button_explore_our_new" data-modal-close>
            <svg class="modal_close_button_icon_explore_our_new" width="12" height="12">
                <use href="./images/icons.svg#icon-x_close"></use>
            </svg>
        </button>
        <p class="modal_paragraph_explore_our_new">
            EXPLORE OUR <span class="modal_explore_our_new_span">NEW CHOCOLATE</span> FIRST!
        </p>
        <form class="form_explore_our_new">
            <div class="modal_form_explore_our_new">

                <div class="input_form_explore_our_new">
                    <input required type="email" name="user-email" id="user-email" class="input_modal_explore_our_new"
                        placeholder="Enter your email" />

                </div>
            </div>

            <button class="button_subsribe_explore_our_new">
                <h3 class="text_button_subsribe_our_new">Submit</h3>
            </button>
        </form>
    </div>
</div>