<div class="modal-leave-review is-hidden" data-modal>
      <div class="modal-window-leave-review">
        <button class="close-button-leave-review" type="button" data-modal-close>
          <svg class="close-icon-leave-review" width="12" height="12">
            <use href="./images/icons.svg#icon-x_close" />
          </svg>
        </button>
      <p class="p-modal-leave-review">LEAVE A REVIEW ABOUT
        <span class="span-modal-leave-review">OUR CHOCOLATE</span>       
      </p>
      <form>
        <div class="form-modal-leave-review">
          <label class="label-modal-leave-review" for="user-name"/>
          <div class="div-modal-leave-review">
            <input required class="input-modal-leave-review" name="user-name" id="user-name" type="text" placeholder="Name">
          </div>
          </div>
          <div class="form-modal-leave-review">
            <label class="label-modal-leave-review">
            <div class="div-modal-leave-review">
              <input required class="input-modal-leave-review" name="user-name" id="email" type="text" placeholder="Email">
            </div>
          </div>
          <div class="form-modal-leave-review">
          <div class="form-modal-leave-review">
            <label class="label-modal-leave-review">
            <div class="div-modal-leave-review">
              <input required class="input-modal-leave-review" name="user-name" id="phone" type="text" placeholder="<svg class="icon icon-Frame"><use xlink:href="#icon-Frame"></use></svg>+380 Phone number" >
              </input>
            </div>
          </div>
          <div class="div-comment-leave-review">
           <label class="label-modal-leave-review" for="user-comment"> 
           <textarea class="textarea-modal-leave-review" id="user-comment" name="user-comment" placeholder="Text input" ></textarea>
            </div>
          <button class="button-modal-leave-review" type="submit">Send</button>
      </form>
      </div>
    </div>
