<!--------------------------MODAL_BUY_NOW------------------------------>
<section class="backdrop  is-hidden" data-modal-review>
    <div class="container">
      <div class="modal-body">  
         
    <button type="button" class="close-button  "data-modal-review-close>
     
    <svg class="top_seller_svg" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
      <path d="M21 7L7 21" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M7 7L21 21" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      
    </button>
       <p class="modal-window"><span class="top_sellers_span " > Buy</span> now</p>
       <div class="top_sellers_modal">
       <ul class="top_sellers_card" >
        <li class="width"> <img src="./images/buy_now_img01.jpg" srcset="./images/buy_now_img01@2x.jpg"  alt="" width="120" height="107"></li>
        <button class="card_button">100g</button>
      </ul>
       <ul class="top_sellers_card" >
        <li class="width" ><img src="./images/buy_now_img02.jpg" srcset="./images/buy_now_img02@2x.jpg" alt="" width="120" height="107"></li>
        <button class="card_button">200g</button>
         </ul>
        <ul class="top_sellers_card">
        <li class="width" ><img src="./images/buy_now_img03.jpg" srcset="./images/buy_now_img03@2x.jpg" alt="" width="120" height="107"></li>
        <button class="card_button">300g</button>
       </ul>
      </div>
       <form>
          <div class="modal-first-box">
            <label for="user-name" class="modal-form-label" >Personal information</label>
            <div class="modal-info">
              <input
                type="text"
                name="user-name"
                id="user-name"
                placeholder="Name"
                class="modal-input" pattern
              />
              <input
              type="text"
              name="user-name"
              id="user-name"
              placeholder="Surname"
              class="modal-input" pattern
            />
    
            </div>
          </div>
          <div class="modal-first-box">
            <label for="phone-number"  class="modal-form-label"  >Phone number</label>
            <div class="modal-first-box">
             <uly> 
              <li> 
                <input
                type="tel"
                name="phone-number"
                id="phone-number"
                  placeholder="                 | Phone number"
                class="modal-input" pattern
              /></li>
             
             <li> 
              <svg class="modal-form-icon" 
               width="32" height="24">
                <use href="./images/chorongewka.svg#icon-Frame"></use>
                </svg></li>
              <li class="modal-form-icon"  >  <p class="top_sellers_380">+380 </p></li>
             </uly> </div>
          </div>
          <div class="modal-first-box">
            <label  class="modal-form-label">Email</label>
            <div class="modal-first-box">
              <input
                type="email"
                name="email"
                id="user_email"
                placeholder="Enter your email"
                class="modal-input" pattern
              />
            </div>
          </div>
          <div class="modal-first-box">
            <label  class="modal-form-label">Card number</label>
            <div class="modal-first-box">
              <input
                type="email"
                name="email"
                id="user_email"
                placeholder="Enter  card"
                class="modal-input" pattern
              />
            </div>
          </div>
          <div class="modal-form-comment-box">
            <label for="user-comment"   class="modal-form-label"  >Comment</label>
            <textarea
              name="user-comment"
              id="user-comment"
              class="modal-form-textarea"
              placeholder="Enter text" pattern
            ></textarea>
          </div>
          <button class="form-send-button" type="submit" >Submit</button>
        </form>
      </div></div>
    </section>