<div class="backdrop is-hidden" data-modal>
      <div class="modal">
        <button class="close" type="button" data-modal-close>
          <svg class="close-icon" width="8" height="8">
            <use href="./images/icons.svg#icon-x_close" />
          </svg>
        </button>
      <p class="p-modal-white">LEAVE A REVIEW ABOUT
        <span class="span-modal-orange">OUR CHOCOLATE</span>       
      </p>
      <form>
        <div class="form-modal">
          <label class="label-modal" for="user-name"/>
          <div class="div-modal">
            <input required class="input-modal" name="user-name" id="user-name" type="text" placeholder="Name">
          </div>
          </div>
          <div class="form-modal">
            <label class="label-modal">
            <div class="div-modal">
              <input required class="input-modal" name="user-name" id="email" type="text" placeholder="Email">
            </div>
          </div>
          <div class="form-modal">
            <label class="label-modal">
            <div class="div-modal">
              <input required class="input-modal" name="user-name" id="phone" type="text" placeholder="<svg class="icon icon-Frame"><use xlink:href="#icon-Frame"></use></svg>+380 Phone number" >
              </input>
            </div>
          </div>
          <div class="div-comment">
           <label class="label-modal" for="user-comment"> 
           <textarea class="textarea-modal" id="user-comment" name="user-comment" placeholder="Text input" ></textarea>
          </div>
          <button class="button-modal" type="submit">Send</button>
      </form>
      </div>
    </div>
