<div class="subscribe_modal is-open" modal-subscribe>
    <div class="subscribe_modal_div">
        <button class="subscribe_modal_button" type="button" modal-subscribe-close>
            <svg class="subscribe_modal_svg" width="28" height="28">
                <use href="/src/images/icons.svg#icon-x_close"></use>
            </svg>
        </button>
        <div class="subscribe_img">

            <div class="subscribe_modal_form_div">
                <p class="subscribe_modal_text" id="contact">
                    Explore our <br /><span class="subscribe_modal_span">new chocolate</span> first!
                </p>
                <form>
                    <div class="subscribe_modal_form_email">
                        <label for="user-email" class="input"></label>
                        <div class="subscribe_modal_email">
                            <input class="subscribe_modal_input" id="user-email" type="email" name="email" required
                                placeholder="Enter your email" />
                        </div>
                        <button class="subscribe_modal_button_submit" type="submit">
                            <p class="subscribe_modal_button_text">Subscribe</p>
                        </button>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>