<section class="section-products">
  <div class="conteiner">
    <h2><span>Our </span>pRODUCTS</h2>
    <ul id="mySC">
      <li>
        <div>
          <img
            src="./images/desk_orange.jpg"
            alt="Victoria Face Photo"
            width="230px"
            height="201px"
            srcset="./images/desk_orange@2x.jpg"
          />
          <h3>orange</h3>
          <p>Dark chocolate</p>
          <button class="product-buy" type="button"><span>45 UAH</span></button>
        </div>
      </li>
      <li>
        <div>
          <img
            src="./images/desk_applecranberry.jpg"
            alt="Victoria Face Photo"
            width="230px"
            height="201px"
            srcset="./images/desk_applecranberry@2x.jpg"
          />
          <h3>APPLE&CRANBERRY</h3>
          <p>Milk chocolate</p>
          <button class="product-buy" type="button"><span>50 UAH</span></button>
        </div>
      </li>
      <li>
        <div>
          <img
            src="./images/desk_limesalt.jpg"
            alt="Victoria Face Photo"
            width="230px"
            height="201px"
            srcset="./images/desk_limesalt@2x.jpg"
          />
          <h3>lime&sea salt</h3>
          <p>Dark chocolate</p>
          <button class="product-buy" type="button"><span>66 UAH</span></button>
        </div>
      </li>
      <li>
        <div>
          <img
            src="./images/desk_pineapple.jpg"
            alt="Victoria Face Photo"
            width="230px"
            height="201px"
            srcset="./images/desk_pineapple@2x.jpg"
          />
          <h3>pineapple</h3>
          <p>Dark chocolate</p>
          <button class="product-buy" type="button"><span>54 UAH</span></button>
        </div>
      </li>
      <li>
        <div>
          <img
            src="./images/desk_classic.jpg"
            alt="Victoria Face Photo"
            width="230px"
            height="201px"
            srcset="./images/desk_classic@2x.jpg"
          />
          <h3>Classic</h3>
          <p>Milk chocolate</p>
          <button class="product-buy" type="button"><span>45 UAH</span></button>
        </div>
      </li>
      <li>
        <div>
          <img
            src="./images/desk_honey.jpg"
            alt="Victoria Face Photo"
            width="230px"
            height="201px"
            srcset="./images/desk_honey@2x.jpg"
          />
          <h3>honey</h3>
          <p>Milk chocolate</p>
          <button class="product-buy" type="button"><span>50 UAH</span></button>
        </div>
      </li>
      <li>
        <div>
          <img
            src="./images/desk_roastedfruits.jpg"
            alt="Victoria Face Photo"
            width="230px"
            height="201px"
            srcset="./images/desk_roastedfruits@2x.jpg"
          />
          <h3>Roasted fruits</h3>
          <p>Dark chocolate</p>
          <button class="product-buy" type="button"><span>66 UAH</span></button>
        </div>
      </li>
      <li>
        <div>
          <img
            src="./images/desk_whiteclassic.jpg"
            alt="Victoria Face Photo"
            width="230px"
            height="201px"
            srcset="./images/desk_whiteclassic@2x.jpg"
          />
          <h3>Classic</h3>
          <p>White chocolate</p>
          <button class="product-buy" type="button"><span>54 UAH</span></button>
        </div>
      </li>
    </ul>
    <div class="products-buttons">
      <button class="product-button1 button-mobile" type="button" onclick="scrollTo1()" />
      <button class="product-button2 button-mobile" type="button" onclick="scrollTo2()" />
      <button class="product-button3 button-mobile" type="button" onclick="scrollTo3()" />
      <button class="product-button4 button-mobile" type="button" onclick="scrollTo4()" />
      <button class="product-button5 button-mobile" type="button" onclick="scrollTo5()" />
      <button class="product-button6 button-mobile" type="button" onclick="scrollTo6()" />
      <button class="product-button7 button-mobile" type="button" onclick="scrollTo7()" />
      <button class="product-button8 button-mobile" type="button" onclick="scrollTo8()" />
      <button class="product-button11 button-tablet" type="button" onclick="scrollTo11()" />
      <button class="product-button12 button-tablet" type="button" onclick="scrollTo12()" />
      <button class="product-button13 button-tablet" type="button" onclick="scrollTo13()" />
      <button class="product-button14 button-tablet" type="button" onclick="scrollTo14()" />
      <button class="product-button22 button-desktop" type="button" onclick="scrollTo21()" />
      <button class="product-button22 button-desktop" type="button" onclick="scrollTo22()" />
    </div>
  </div>
</section>
<script>
  const scrollTo1 = () => {
    const div = document.getElementById('mySC');
    div.scrollTo({
      left: 0,
      behavior: 'smooth',
    });
  };
  const scrollTo2 = () => {
    const div = document.getElementById('mySC');
    div.scrollTo({
      left: 359,
      behavior: 'smooth',
    });
  };
  const scrollTo3 = () => {
    const div = document.getElementById('mySC');
    div.scrollTo({
      left: 718,
      behavior: 'smooth',
    });
  };
  const scrollTo4 = () => {
    const div = document.getElementById('mySC');
    div.scrollTo({
      left: 1077,
      behavior: 'smooth',
    });
  };
  const scrollTo5 = () => {
    const div = document.getElementById('mySC');
    div.scrollTo({
      left: 1436,
      behavior: 'smooth',
    });
  };
  const scrollTo6 = () => {
    const div = document.getElementById('mySC');
    div.scrollTo({
      left: 1795,
      behavior: 'smooth',
    });
  };
  const scrollTo7 = () => {
    const div = document.getElementById('mySC');
    div.scrollTo({
      left: 2154,
      behavior: 'smooth',
    });
  };
  const scrollTo8 = () => {
    const div = document.getElementById('mySC');
    div.scrollTo({
      left: 2513,
      behavior: 'smooth',
    });
  };
  const scrollTo11 = () => {
    const div = document.getElementById('mySC');
    div.scrollTo({
      left: 0,
      behavior: 'smooth',
    });
  };
  const scrollTo12 = () => {
    const div = document.getElementById('mySC');
    div.scrollTo({
      left: 594,
      behavior: 'smooth',
    });
  };
  const scrollTo13 = () => {
    const div = document.getElementById('mySC');
    div.scrollTo({
      left: 1170,
      behavior: 'smooth',
    });
  };
  const scrollTo14 = () => {
    const div = document.getElementById('mySC');
    div.scrollTo({
      left: 1764,
      behavior: 'smooth',
    });
  };
  const scrollTo21 = () => {
    const div = document.getElementById('mySC');
    div.scrollTo({
      left: 0,
      behavior: 'smooth',
    });
  };
  const scrollTo22 = () => {
    const div = document.getElementById('mySC');
    div.scrollTo({
      left: 1764,
      behavior: 'smooth',
    });
  };
</script>
