<section class="section-products">
  <div class="conteiner">
    <h2><span>Our </span>pRODUCTS</h2>
    <ul>
      <li>
        <div>
          <img
            src="./images/desk_orange.jpg"
            alt="Victoria Face Photo"
            width="230px"
            height="201px"
            srcset="./images/desk_orange@2x.jpg"
          />
          <h3>orange</h3>
          <p>Dark chocolate</p>
          <button class="product-buy" type="button"><span>45 UAH</span></button>
        </div>
      </li>
      <li>
        <div>
          <img
            src="./images/desk_applecranberry.jpg"
            alt="Victoria Face Photo"
            width="230px"
            height="201px"
            srcset="./images/desk_applecranberry@2x.jpg"
          />
          <h3>APPLE&CRANBERRY</h3>
          <p>Milk chocolate</p>
          <button class="product-buy" type="button"><span>50 UAH</span></button>
        </div>
      </li>
      <li>
        <div>
          <img
            src="./images/desk_limesalt.jpg"
            alt="Victoria Face Photo"
            width="230px"
            height="201px"
            srcset="./images/desk_limesalt@2x.jpg"
          />
          <h3>lime&sea salt</h3>
          <p>Dark chocolate</p>
          <button class="product-buy" type="button"><span>66 UAH</span></button>
        </div>
      </li>
      <li>
        <div>
          <img
            src="./images/desk_pineapple.jpg"
            alt="Victoria Face Photo"
            width="230px"
            height="201px"
            srcset="./images/desk_pineapple@2x.jpg"
          />
          <h3>pineapple</h3>
          <p>Dark chocolate</p>
          <button class="product-buy" type="button"><span>54 UAH</span></button>
        </div>
      </li>
      <li>
        <div>
          <img
            src="./images/desk_classic.jpg"
            alt="Victoria Face Photo"
            width="230px"
            height="201px"
            srcset="./images/desk_classic@2x.jpg"
          />
          <h3>Classic</h3>
          <p>Milk chocolate</p>
          <button class="product-buy" type="button"><span>45 UAH</span></button>
        </div>
      </li>
      <li>
        <div>
          <img
            src="./images/desk_honey.jpg"
            alt="Victoria Face Photo"
            width="230px"
            height="201px"
            srcset="./images/desk_honey@2x.jpg"
          />
          <h3>honey</h3>
          <p>Milk chocolate</p>
          <button class="product-buy" type="button"><span>50 UAH</span></button>
        </div>
      </li>
      <li>
        <div>
          <img
            src="./images/desk_roastedfruits.jpg"
            alt="Victoria Face Photo"
            width="230px"
            height="201px"
            srcset="./images/desk_roastedfruits@2x.jpg"
          />
          <h3>Roasted fruits</h3>
          <p>Dark chocolate</p>
          <button class="product-buy" type="button"><span>66 UAH</span></button>
        </div>
      </li>
      <li>
        <div>
          <img
            src="./images/desk_whiteclassic.jpg"
            alt="Victoria Face Photo"
            width="230px"
            height="201px"
            srcset="./images/desk_whiteclassic@2x.jpg"
          />
          <h3>Classic</h3>
          <p>White chocolate</p>
          <button class="product-buy" type="button"><span>54 UAH</span></button>
        </div>
      </li>
    </ul>
    <div class="products-buttons">
      <button class="product-button1" type="button" />
      <button class="product-button2" type="button" />
      <button class="product-button3" type="button" />
      <button class="product-button4" type="button" />
      <button class="product-button5" type="button" />
      <button class="product-button6" type="button" />
      <button class="product-button7" type="button" />
      <button class="product-button8" type="button" />
    </div>
  </div>
</section>
