 <!---------------------- top-Sellers  Anton Odintsov--------------------------------->
 <section class="top_sellers_section">
    <div class="container">
    <div class="top_sellers_order" >
      <h2 class="top_sellers_headlaine"><span class="top_sellers_span">Top</span> Sellers</h2>
    <ul class="top_sellers" >
        <li ><img class="top_sellers_imeges"src="./images/desk_topsellers_img01.jpg" width="368" height="464" srcset="./images/tab_topsellers_img01.jpg " alt=""></li>
        <li class="top_sellers_comebac">  <p class="comebac">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. 
          Cacao has been around for thousands of years and was first discovered by the Native 
          American tribe called the Mayans.</p></li>
        <li><img  class="top_sellers_imeges"src="./images/desk_topsellers_img02.jpg"  srcset="./images/tab_topsellers_img02.jpg" alt="" width="368" height="464"></li>
        <li class="none"><img class="top_sellers_imeges"src="./images/desk_topsellers_img03.jpg" srcset="./images/desk_topsellers_img03@2x.jpg" alt="" width="368" height="464"></li>
    </ul>
</div>
    <div class="top_sellers_opis" >
    <ul class="top_sellers_one">
        <li>
            <p class="top_sellers_paragraph">Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. 
                Cacao has been around for thousands of years and was first discovered by the Native 
                American tribe called the Mayans.</p>
            </li>  
  
          <li>  <button type="button" class="top_sellers_button" data-modal-open>Buy now</button></li>
  </ul>

  </div></div>
  </section>