<section class="unique_components_section">

    <h2 class="unique_components_title">IT ALL ADDS UP TO ONE EXCEPTIONAL <span
            class="unique_components_title_span">TASTE</span> SENSATION</h2>
    <p class="unique_components_paragraph">At Simply Chocolate, we believe that the secret to exceptional chocolate is
        in the details. From the sourcing of the
        finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one
        exceptional taste sensation.</p>

    <ul class="unique_components_list">
        <li class="unique_components_item">
            <div class="unique_components_div">
                <div class="unique_components_div_inner">
                    <div class="unique_components_div_front_1">
                   <div class="unique_components_div_front_1_image"><img src="./images/tabmob_chocolate.jpg" 
                                                                              alt="milk chocolate" width="224px" height="171px"></div>

                        <p class="unique_components_div_paragraph_1">MILK CHOCOLATE</p>
                    </div>
                    <div class="unique_components_div_back">
                        <p class="unique_components_div_paragraph_back">MILK CHOCOLATE</p>
                        <button class="unique_components_button_chocolate">chocolate</button>
                        <button class="unique_components_button_benefits">the benefits</button>
                      

                        <p class="unique_components_div_paragraph_back_second">Milk chocolate is a solid chocolate confectionery
                            containing cocoa, sugar and milk. It is the most
                            consumed type
                            of
                            chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although

                            four-fifths
                            of all
                            milk chocolate is sold in the United States and Europe.</p>
                    </div>
                </div>
            </div>
          </li>
        

        <li class="unique_components_item">
            <div class="unique_components_div">
                <div class="unique_components_div_inner">
                    <div class="unique_components_div_front_2">
                        <img src="./images/tabmob_milk.jpg" alt="bottle of milk" width="224px" height="171px">
                        <p class="unique_components_div_paragraph_2">MILK</p>
                    </div>
                    <div class="unique_components_div_back">
                        <p class="unique_components_div_paragraph_back">MILK</p>
                        <button class="unique_components_button_chocolate">milk</button>
                        <button class="unique_components_button_benefits">the benefits</button>

                        <p class="unique_components_div_paragraph_back_second">Milk is a white liquid food produced by the

                            mammary glands of mammals. It is the primary source of nutrition for young
                            mammals (including breastfed human infants) before they are able to digest solid
                            food.Early-lactation milk, which is
                            called colostrum, contains antibodies that strengthen the immune system.</p>
                    </div>
                </div>
            </div>
        </li>

       <li class="unique_components_item">
                    <div class="unique_components_div">
                        <div class="unique_components_div_inner">
                            <div class="unique_components_div_front_3">
                                <img src="./images/tabmob_nuts.jpg" alt="some nuts" width="224px" height="171px">
                                <p class="unique_components_div_paragraph_3">NUTS</p>
                            </div>
                            <div class="unique_components_div_back">
                                <p class="unique_components_div_paragraph_back">NUTS</p>
                                <button class="unique_components_button_chocolate">nuts</button>
                                <button class="unique_components_button_benefits">the benefits</button>
                                <p class="unique_components_div_paragraph_back_second">Almonds, pistachios, and walnuts are some types
                                    of nuts that contain healthy nutrients. When eaten as part of a
                                    nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease.
                                    They’re a good source
                                    of fiber, healthy fats, and plant protein. Plus, they’re great on their own.</p>
                            </div>
                        </div>
                    </div>
                
                </li>


        <li class="unique_components_item">
            <div class="unique_components_div">
                <div class="unique_components_div_inner">
                    <div class="unique_components_div_front_4">

                        <img src="./images/tabmob_chocolate_drops.jpg" alt="chocolate drops" width="224px" height="171px">

                        <p class="unique_components_div_paragraph_4">SEMI SWEET CHOCOLATE</p>
                    </div>
                    <div class="unique_components_div_back">
                        <p class="unique_components_div_paragraph_back">SEMI SWEET CHOCOLATE</p>
                        <button class="unique_components_button_chocolate">sweet chocolate</button>
                        <button class="unique_components_button_benefits">the benefits</button>

                        <p class="unique_components_div_paragraph_back_second">Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type
                        of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate. In a taste
                        comparison, it has a slightly bitter taste whereas milk chocolate is sweeter.</p>

                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>