<section class="unique_components_section">
    <h2 class="unique_components_title">
        IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="unique_components_span">TASTE</span> SENSATION
    </h2>
    <p class="unique_components_paragraph">
        At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From
        the sourcing of the finest ingredients to the careful crafting of each individual piece, every
        step of our process adds up to one exceptional taste sensation.
    </p>
    <ul class="unique_components_list">
        <li class="unique_components_item">
            <div class="unique_components_list_div unique_components_list_div_1">
                <img src="./images/mobile_milk_chocolate.png" alt="milk chocolate" />
                <p class="unique_components_list_paragraph">MILK CHOCOLATE</p>
            </div>
        </li>
        <li>
            <div class="unique_components_list_div">
                <img src="./images/mobile_milk.png" alt="milk" />
                <p class="unique_components_list_paragraph unique_components_list_paragraph_black">Milk</p>
            </div>
        </li>
        <li>
            <div class="unique_components_list_div unique_components_list_div_3">
                <img src="./images/mobile_nuts.png" alt=" some nuts" />
                <p class="unique_components_list_paragraph">nuts</p>
            </div>
        </li>
        <li>
            <div class="unique_components_list_div">
                <img src="./images/mobile_semi_sweet.png" alt="semi-sweet chocolate" />
                <p class="unique_components_list_paragraph unique_components_list_paragraph_black">SEMI - SWEET
                    CHOCOLATE</p>
            </div>
        </li>
    </ul>
</section>