@import url(./partials/global.css);
@import url(./partials/header.css);
@import url(./partials/hero.css);
@import url(./partials/advantages.css);
@import url(./partials/unique_components.css);
@import url(./partials/how_its_made.css);
@import url(./partials/our_products.css);
@import url(./partials/top_sellers.css);
@import url(./partials/reviews.css);
@import url(./partials/subscribe.css);
@import url(./partials/footer.css);
@import url(./partials/modal_explore_our_new.css);